= haml :_nav
#app
    %h3.text-center {{ title }}
    .asdfasdf{:'v-if' => 'sessions && sessions.length > 0'} 
        %h4 Feed Sessions
        .session-details{:'v-for' => 'session in sessions'}
            .row
                .col-sm Start
                .col-sm {{ session.start }}
            .row
                .col-sm End
                .col-sm {{ session.end }}
            .row
                .col-sm Duration
                .col-sm {{ session.duration }}
            .row
                .col-sm Notes
                .col-sm {{ session.notes }}
            %br
    %h4{:'v-else' => true} No Previous Sessions

.bootstrapped-stuff{:style => 'display:none;'}
    :javascript
        // HERE'S ONE WAY TO BOOTSTRAP SOME DATA TO THE PAGE ...
        // window.my_app.sessions = JSON.parse( '\\#{sessions.to_json}' );

:javascript
    (function(document,undefined){
        document.addEventListener('DOMContentLoaded', function(){ 
            var Vue = window.Vue,
                axios = window.axios;

            var app = new Vue({
                el: "#app",
                data: {
                    sessions: JSON.parse( '\\#{sessions.to_json}' ),
                    title: "FEED TEH BEH BEH!!!"
                },
                mounted: function(){
                    //
                    // THIS IS ONE WAY TO DO IT ...
                    // OR YOU CAN BOOTSTRAP THE DATA TO THE PAGE, AS I'VE DONE 
                    // IN data.sessions
                    //

                    // var self = this;
                    // axios.get("/api/v1/stuff").then(function(response){
                    //     self.sessions = response.data;
                    // }).catch(function(err){
                    //     console.log("trying to get stuff gave this error: " + err);
                    // });
                }
            });

        }, false);
    })(document);