%h3.text-center TRACK ALL OF THEM!!!
%a.a.btn.btn-block.btn-primary{:href => "/feed"} New Feed
%a.a.btn.btn-block.btn-primary Edit Last Feed
%a.a.btn.btn-block.btn-primary New Diaper
%a.a.btn.btn-block.btn-primary Edit Last Diaper
